<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bp1832_midterm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BPMidterm1832">
        <activity
            android:name="com.example.bp1832_midterm.ui.course_schedule.day_5.Schedule5Activity"
            android:exported="false" />
        <activity
            android:name="com.example.bp1832_midterm.ui.course_schedule.day_4.Schedule4Activity"
            android:exported="false" />
        <activity
            android:name="com.example.bp1832_midterm.ui.course_schedule.day_3.Schedule3Activity"
            android:exported="false" />
        <activity
            android:name="com.example.bp1832_midterm.ui.course_schedule.day_2.Schedule2Activity"
            android:exported="false" />
        <activity
            android:name="com.example.bp1832_midterm.ui.course_schedule.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bp1832_midterm.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>